
<div class="container">
  <% if policy(@user).edit? %>
    <div class="d-flex justify-content-end">
      <%= link_to edit_user_registration_path, class: "btn btn-secondary mt-3" do %>
      Edit Profile
      <% end %>
    </div>
    <div class="card d-flex flex-row align-items-center mt-2 mb-5">
  <% else %>
  <div class="card d-flex flex-row align-items-center my-5">
  <% end %>
    <div class="image-wrap p-3">
      <img class='rounded-circle' src="https://ae01.alicdn.com/kf/HTB18bifaI2vU1JjSZFwq6x2cpXak/Men-Classic-Oversized-Sunglasses-Men-Square-Fashion-Glasses-for-Women-High-Quality-Retro-Sun-Glasses-Vintage.jpg" alt="cocuou" height="100px">
    </div>
    <div class="card-title p-3">
      <h3 class="name"><%= @user.first_name %> <%= @user.last_name %></h3>
      <p class="email"><%= @user.bio %></p>
      <span class="address"><%= @user.address %></span>
    </div>
  </div>
  <div>
    <h2>Objets en location de <%= @user.first_name %></h2>
    <div class="card-deck">
      <% @items.each do |item| %>
        <div class="card">
          <% if item.photo.attached? %>
            <%= cl_image_tag '#', height: 250, width: 300, crop: :scale, class:'card-img-top' %>
          <% else %>
            <img class="card-img-top" src="https://source.unsplash.com/800x600/?stroller, <%= [1,2,1,3,456,5,7,613].sample %>" alt="Card image cap">
          <% end %>
          <% if policy(@user).edit? %>
            <div>
              <%= link_to edit_item_path(item), class: "btn btn-edit-item" do %>
                <i class="fas fa-pen"></i> Edit Item
              <% end %>
            </div>
          <% end %>
          <div class="card-body">
            <h3 class="card-title"><%= item.title %></h3>
            <span class="badge badge-secondary mb-2"><%= item.category %></span>
            <p class="card-text"><%= item.description %></p>
            <p><%= item.availability %></p>
          </div>
          <div class="card-text price"><%= item.price_in_cents / 100 %> €<br>/ jour</div>
        </div>
      <% end %>
    </div>
  </div>
</div>


