<%= render 'shared/banner' %>

<div class="container mt-5">
  <h2>Explorer Roule Bibi</h2>
  <div class="explore-cards">
    <%= link_to items_path + "?category=canne" do %>
      <div class="explore-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cache.magicmaman.com/data/photo/w1000_ci/5g/poussettes-legeres.jpg)">
        Poussette Canne
      </div>
    <% end %>
    <%= link_to items_path + "?category=3+roues" do %>
      <div class="explore-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.telegraph.co.uk/content/dam/wellbeing/2016/09/06/bugjog_trans_NvBQzQNjv4BqjZCqkh21MTy1LvXE-PcUNUOrSxX1mAWyZ1JcDdwlYNY.jpg)">
        3 roues
      </div>
    <% end %>
    <%= link_to items_path + "?category=2+places" do %>
      <div class="explore-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://thewirecutter.com/wp-content/uploads/2018/01/doublestrollers-lowres-1010208.jpg)">
        2 places
      </div>
    <% end %>
  </div>
</div>

<div class="proprio-containter">
    <div class="container text-center">
      <h3>Vous êtes propriétaire d'articles d'une poussette ?</h3>
      <p>Augmentez vos revenus en louant votre poussette</p>
      <button class="btn btn-primary btn-propio">Mettre en location</button>
    </div>
</div>

<div class="logos-containter">
    <div class="container text-center">
      <h3>Ils aiment Roule Bibi</h3>
      <div class="logos">
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d6/TF1_logo.svg" alt="">
        <img src="https://upload.wikimedia.org/wikipedia/fr/f/f8/Le_Figaro_logo.svg" alt="">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/9c/ELLE_Magazine_Logo.svg" alt="">
      </div>
    </div>
</div>

<!-- <div class="row">
<div class="col-4">
<div class="card" style="width: 18rem;">
  <img src="https://source.unsplash.com/800x600/?stroller, <%= [1,2,1,3,456,5,7,613].sample %>" alt="Card image cap" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
</div>

<div class="row">
<div class="col-4">
<div class=m-3>
  <div class="d-flex">
    <div class="card-deck">
      <% item1 = Item.order("RANDOM()").first %>
      <div class="card">
        <img class="card-img-top" src="https://source.unsplash.com/800x600/?stroller, <%= [1,2,1,3,456,5,7,613].sample %>" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title"><%= item1.title %></h2>
          <span class="badge badge-secondary mb-2"><%= item1.category %></span>
          <p class="card-text"><%= item1.description %></p>
        </div>
        <div class="card-text price"><%= item1.price_in_cents / 100 %> €<br>/ jour</div>
        <div class="d-flex justify-content-center mb-3">
          <%= link_to item_path(item1), class:'btn btn-reservation' %>
          Réserver
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="col-4">
<div class=m-3>
  <div class="d-flex">
    <div class="card-deck">
      <% item3 = Item.order("RANDOM()").first %>
      <div class="card">
        <img class="card-img-top" src="https://source.unsplash.com/800x600/?stroller, <%= [1,2,1,3,456,5,7,613].sample %>" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title"><%= item3.title %></h2>
          <span class="badge badge-secondary mb-2"><%= item3.category %></span>
          <p class="card-text"><%= item3.description %></p>
        </div>
        <div class="card-text price"><%= item3.price_in_cents / 100 %> €<br>/ jour</div>
        <div class="d-flex justify-content-center mb-3">
          <%= link_to item_path(item3), class:'btn btn-reservation'%>
          Réserver
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="col-4">
<div class=m-3>
  <div class="d-flex">
    <div class="card-deck">
      <% item2 = Item.order("RANDOM()").first %>
      <div class="card">
        <img class="card-img-top" src="https://source.unsplash.com/800x600/?stroller, <%= [1,2,1,3,456,5,7,613].sample %>" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title"><%= item2.title %></h2>
          <span class="badge badge-secondary mb-2"><%= item2.category %></span>
          <p class="card-text"><%= item2.description %></p>
        </div>
        <div class="card-text price"><%= item2.price_in_cents / 100 %> €<br>/ jour</div>
        <div class="d-flex justify-content-center mb-3">
          <%= link_to item_path(item2), class:'btn btn-reservation'%>
          Réserver
        </div>
      </div>
    </div>
  </div>
</div>
</div>




</div>

 -->
