<%= render 'shared/banner' %>

<div class="row">
<div class="col-4">
<div class="card" style="width: 18rem;">
  <img src="https://source.unsplash.com/800x600/?stroller, <%= [1,2,1,3,456,5,7,613].sample %>" alt="Card image cap" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
</div>

<div class="row">
<div class="col-4">
<div class=m-3>
  <div class="d-flex">
    <div class="card-deck">
      <% item1 = Item.order("RANDOM()").first %>
      <div class="card">
        <img class="card-img-top" src="https://source.unsplash.com/800x600/?stroller, <%= [1,2,1,3,456,5,7,613].sample %>" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title"><%= item1.title %></h2>
          <span class="badge badge-secondary mb-2"><%= item1.category %></span>
          <p class="card-text"><%= item1.description %></p>
        </div>
        <div class="card-text price"><%= item1.price_in_cents / 100 %> €<br>/ jour</div>
        <div class="d-flex justify-content-center mb-3">
          <%= link_to item_path(item1), class:'btn btn-reservation' %>
          Réserver
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="col-4">
<div class=m-3>
  <div class="d-flex">
    <div class="card-deck">
      <% item3 = Item.order("RANDOM()").first %>
      <div class="card">
        <img class="card-img-top" src="https://source.unsplash.com/800x600/?stroller, <%= [1,2,1,3,456,5,7,613].sample %>" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title"><%= item3.title %></h2>
          <span class="badge badge-secondary mb-2"><%= item3.category %></span>
          <p class="card-text"><%= item3.description %></p>
        </div>
        <div class="card-text price"><%= item3.price_in_cents / 100 %> €<br>/ jour</div>
        <div class="d-flex justify-content-center mb-3">
          <%= link_to item_path(item3), class:'btn btn-reservation'%>
          Réserver
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="col-4">
<div class=m-3>
  <div class="d-flex">
    <div class="card-deck">
      <% item2 = Item.order("RANDOM()").first %>
      <div class="card">
        <img class="card-img-top" src="https://source.unsplash.com/800x600/?stroller, <%= [1,2,1,3,456,5,7,613].sample %>" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title"><%= item2.title %></h2>
          <span class="badge badge-secondary mb-2"><%= item2.category %></span>
          <p class="card-text"><%= item2.description %></p>
        </div>
        <div class="card-text price"><%= item2.price_in_cents / 100 %> €<br>/ jour</div>
        <div class="d-flex justify-content-center mb-3">
          <%= link_to item_path(item2), class:'btn btn-reservation'%>
          Réserver
        </div>
      </div>
    </div>
  </div>
</div>
</div>




</div>

