<div class="container">
  Page du super <h1><%= @item.title %></h1>

  <p class="jumbotron">description: <%= @item.description %></li>
  <ul class="list-group">
    <li class="list-group-item">category: <%= @item.category %></li>
    <li class="list-group-item">tag: <%= @item.tag %></li>
    <li class="list-group-item"> <span class="badge badge-secondary">price: <%= @item.price_in_cents / 100 %> € </span></li>
  </ul>
</div>



