
<div class="container">
  <div class="image-top text-center bg-primary">
    <% if @item.photo.attached? %>
    <%= cl_image_tag @item.photo.key, height: 100, width: 100, crop: :scale, class:'rounded-circle border border-gray p-3 m-3' %>
    <% else %>
    <img class="card-img item-banner cover" src="https://source.unsplash.com/800x600/?stroller, <%= (0..200).to_a.sample %>" alt="Card image cap">
    <% end %>
  </div>
  <div class="d-flex flex-row">
    <div class="item-content-container col-sm-8 mt-2">
      <%= link_to items_path, class:'p-2 back-link' do %>
      <i class="fas fa-chevron-left"></i> Revenir aux résultats
      <% end %>
      <div class="item-content">
        <h1 class="item-content-title mt-3"><%= @item.title %></h1>
        <p class="item-content-description"><%= @item.description %></p>
        <div class="tags">
          <span class="badge badge-primary"><%= @item.category %></span>
          <span class="badge badge-secondary"><%= @item.tag %></span>
        </div>
        <div class="item-location-container">
          <h3>Localisation de l'objet</h3>
          <div class="item-location">
            <div class="location-details">
              <div class="marker"><i class="fas fa-map-marker-alt"></i></div>
              <div class="location-address">
                À proximité de :
                <div class="address"><%= @item.address %></div>
              </div>
            </div>
            <div
            id="map"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
            ></div>
          </div>
        </div>
      </div>
      <div class="profile-container">
        <div class="user-profile">
          <%= image_tag("https://source.unsplash.com/200x200/?person/#{(0..200).to_a.sample}", height:'100', width:'100', class:'rounded-circle') %>
          <div class="d-flex flex-column">
            <div class="profile-identity">
              <%= link_to user_path(@item.user), target: "_blank" do %>
              <h3 class="profile-name big">Objet proposé par <%= @item.user.first_name %> <%= @item.user.last_name.first %>.</h3>
              <% end %>
              <div class="profile-infos">
                <div><i class="fas fa-mobile-alt"></i> N° de portable vérifié</div>
                <div class="connexion-infos">Membre depuis
                  <%= ["janvier", "février" , "avril", "mai", "juin", "juillet", "aout", "septembre", "octobre", "novembre", "décembre"].sample %>
                  20<%= (17..20).to_a.sample %>   ·   Vu la dernière fois le 15 janvier 2019 <%#= Faker::Time.between(from: DateTime.now - 14, to: DateTime.now, format: :short) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item-description-container">
        <h3>Informations sur la Poussette</h3>
        <div class="item-characteristics">
          <div class="item-characteritics-block">
            <div class="row-characteritics">
              <div class="icon">
                <i class="fas fa-registered"></i>
              </div>
              <div class="characteritics-details">
                <span class="charac-title">Marque</span>
                <div class="charac-detail"><%= ["Babyzen", "Bugaboo", "Cybex",
                  "Diono Dooky","Fabelab", "Kaiser", "Lassig",
                  "Lilikim", "Mies and Co", "Natalys",
                  "Red Castle", "Skip Hop", "WALKING MUM"].sample %>
                </div>
              </div>
            </div>
            <div class="row-characteritics">
              <div class="icon">
                <i class="fas fa-baby-carriage"></i>
              </div>
              <div class="characteritics-details">
                <span class="charac-title">Etat</span>
                <div class="charac-detail"><%= ["Comme neuf", "Très Bon état", "Bon état"].sample %></div>
              </div>
            </div>
            <div class="row-characteritics">
              <div class="icon">
                <i class="fas fa-ruler-vertical"></i>
              </div>
              <div class="characteritics-details">
                <span class="charac-title">Dimensions</span>
                <div class="charac-detail">Dimensions ouverte (PxLxH) : <%= (75..92).to_a.sample %>x<%= (48..60).to_a.sample %>x<%= (96..104).to_a.sample %></div>
                <div class="charac-detail">Dimensions pliée (PxLxH) : <%= (65..73).to_a.sample %>x<%= (35..44).to_a.sample %>x<%= (28..38).to_a.sample %></div>
              </div>
            </div>
            <div class="row-characteritics">
              <div class="icon">
                <i class="fas fa-weight-hanging"></i>
              </div>
              <div class="characteritics-details">
                <span class="charac-title">Poids</span>
                <div class="charac-detail"><%= (7..13).to_a.sample %> kg</div>
              </div>
            </div>
          </div>
          <div class="item-characteritics-block">
            <div class="row-characteritics">
              <div class="icon">
                <i class="fas fa-baby"></i>
              </div>
              <div class="characteritics-details">
                <span class="charac-title">Age</span>
                <div class="charac-detail"><%= ["0-3","4-6","6+" ].sample %></div>
              </div>
            </div>
            <div class="row-characteritics">
              <div class="icon">
                <i class="fas fa-weight"></i>
              </div>
              <div class="characteritics-details">
                <span class="charac-title">Poids</span>
                <div class="charac-detail"><%= ["0-18","9-18"].sample %></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="booking-form-container col-md-4 col-lg-offset-1">
      <div class="booking-form d-flex flex-column">
        <span class="badge badge-primary my-3 p-2">Prix à la journée : <%= @item.price_in_cents / 100 %> € </span>
        <%= simple_form_for [@item, @booking] do |f| %>
        <%= f.input :start_date, as: :string, required: false, label: "Choisissez vos dates",
        input_html: {class: "datepicker", id: "bdate",
          data: { start_date: @item.start_date.to_date, end_date: @item.end_date.to_date }} %>
          <%= f.button :submit, "Réserver", class: "text-center w-100" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

